In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("dataframe.csv")
df

  Nombre y Apellido  Edad       País Experiencia
0     Lucas Delgado    23     México          No
1    Pedro Ferreyra    18   Honduras          Si
2     Maria Lourdes    18       Perú          Si
3        Laura Soto    42  Argentina          No
4     Mario Vanegas    30     México          Si

In [12]:
df.Edad
df['Nombre y Apellido']
df[['Nombre y Apellido','Edad']]

  Nombre y Apellido  Edad
0     Lucas Delgado    23
1    Pedro Ferreyra    18
2     Maria Lourdes    34
3        Laura Soto    19
4     Mario Vanegas    30

In [17]:
#Forma EXCEL: test = pd.read_excel("file.xmlx","COLUMNA/ÍNDICE")
#Formato JSON: test = pd.read_json("file.json")
#Formato CSV: df = pd.read_csv("PATH/file.csv")

In [4]:
#Verificar Filas y Columnas con SHAPE
df.shape

#Solo Filas
df.shape[0]

#Solo columnas
df.shape[1]

4

In [30]:
#Ver los primeros y últimos datos

data = pd.read_csv("datos.csv")
data

#Ver los primeros 4
data.head(4)

#Ver los últimos 4
data.tail(4)

,Fecha,Apertura,Alto,Bajo,Cierre,Adj cierre,Volumen
4626,2018-05-22,273.959991,274.250000,272.239990,272.609985,272.609985,52966400
4627,2018-05-23,271.170013,273.390015,270.989990,273.359985,273.359985,61021700
4628,2018-05-24,272.910004,273.220001,270.779999,272.799988,272.799988,76043800
4629,2018-05-25,272.149994,272.859985,271.579987,272.149994,272.149994,54842200

In [33]:
#Información sobre los tipos de datos de nuestro archivo

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Nombre y Apellido  5 non-null      object
 1   Edad               5 non-null      int64
 2   Pais               5 non-null      object
 3   Experiencia        5 non-null      object
dtypes: int64(1), object(3)
memory usage: 292.0+ bytes